<div id="ratings">
    <div id="review__form">
        {% if form_notice == blank %}
            {% if form_errors != blank  %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% form section.settings.form %}
        {% else %}
            <div class='alert alert-success'>
                {{ form_notice }}
            </div>
        {% endif %}

    </div>
</div>
{% styles %}
    #ratings {
     padding-top: 15px;
     padding-bottom: 15px;
     color: {{ section.settings.text_color }};
    }
    #ratings h1, h2, h3, h4, h5 {
     color: {{ section.settings.text_color }};
    }
    #review__form {
        margin: auto;
        max-width: 500px;
    }

    .review__step {
        padding: 15px;
        background-color: {{ section.settings.bg_color }};
    }
    #ratings label {
        font-weight: bold;
    }
    #ratings
    .rating label:last-child .icon {
        color: {{ section.settings.star_color_off }};
    }
    .rating:hover label:hover input ~ .icon,
    .rating:not(:hover) label input:checked ~ .icon {
        color: {{ section.settings.star_color_on }} !important;
    }
    .rating label input:focus:not(:checked) ~ .icon:last-child {
        color: {{ section.settings.star_color_off }} !important;
        text-shadow: 0 0 5px {{ section.settings.star_color_on }} !important;
    }

    #review__review-step, #review__social-step {
        display: none;

    }
    #review__form_submit {
        background-color: {{ section.settings.btn_color }};
        color: {{ section.settings.btn_text_color }};
    }
    #review__form_submit:after {
        content: '{{ section.settings.btn_text }}';
    }
    #ratings ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

   .social-link {
        margin-bottom: 5px;
        color: {{ section.settings.social_link_color }};

   }

    .social-link img {
        max-width: 15px;
        height: auto;
        margin-right: 10px;
        float: left;
    }



{% endstyles %}
{% scripts %}

function nextStep(obj) {
    var star_val = obj.value;

    document.getElementById("review__star-step").style.display = 'none';

    if(star_val <=3) {
        document.getElementById("review__review-step").style.display = 'flex';
    } else {
        document.getElementById("review__social-step").style.display = 'flex';
    }


}
{% endscripts %}
{% schema %}
{
"name": "Ratings",
"description": "A ratings form. Requires 7 form fiels in this order. 3 ratings field, 4 other fields",
"settings": [
    {
        "type": "form_picker",
        "id": "form",
        "label": "Form",
        "default": "review"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "BG Color",
        "default": "#FFFFFF"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
    },
    {
        "type": "color",
        "id": "star_color_off",
        "label": "Unselected Star Color",
        "default": "#000000"
    },
    {
        "type": "color",
        "id": "star_color_on",
        "label": "Selected Star Color",
        "default": "#09f09f"
    },
    {
        "type": "color",
        "id": "btn_color",
        "label": "Button Color",
        "default": "#09f09f"
    },
    {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button Text Color",
        "default": "#FFFFFF"
    },
    {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "SEND"
    },
    {
        "type": "color",
        "id": "social_link_color",
        "label": "Social Link Color",
        "default": "#FFFFFF"
    }
],
"blocks": [
        {
            "type": "review_social",
            "name": "review_social"
        }
    ]
}
{% endschema %}