<a href="{{block.link}}"  target="_blank" title="{{block.name}}" style="background-color: {{ block.bg_color }};" class="social-link list-group-item list-group-item-action">
    <img src="{{ block.icon | image_url }}" class="float-left" />{{ block.name }}
</a>


{% schema %}
{
"settings": [
{
"type": "text",
"id": "name",
"label": "Name",
"default": ""
},
{
"type": "image_picker",
"id": "icon",
"label": "Icon",
"default": ""
},
{
"type": "color",
"id": "bg_color",
"label": "Background",
"default": ""
},
{
"type": "url",
"id": "link",
"label": "Link",
"default": ""
}
]
}
{% endschema %}