
{% for field in form.form_fields %}
{% if forloop.index == 1 %}
    <div class="row align-items-center" id="review__star-step">
        <div class="col">
            <div class="review__step">
                {{ field.label }}
                {{ field.id | field_tag }}
            </div>
        </div>
    </div>
{% elsif forloop.index == 2 %}
<div class="row align-items-center" id="review__review-step">
    <div class="col">
        <div class="review__step">
            {% endif %}
            {% if forloop.index >= 2 %}
                <div class="form-group mt-3">
                    <label for='{{ field.css_id }}'>{{ field.label }}</label>
                    {{ field.id | field_tag }}
                </div>
            {% endif %}

            {% endfor %}
            <div class="buttons mt-3">
                <button type='submit' class="btn btn-primary form-control" id="review__form_submit"></button>
            </div>
        </div>
    </div>
</div>


<div class="row" id="review__social-step">
    <div class="col">
        <div class="list-group review__step">
            {% for block in section['block_order'] %}
                {% block %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>